NEXT_PUBLIC_SUPABASE_URL=https://pmzcwwjqixuxewvilcso.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBtemN3d2pxaXh1eGV3dmlsY3NvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIzNTAxNTQsImV4cCI6MjA3NzkyNjE1NH0.uNchjg3oCMwdh0NxmtxWx7zySVAGOCRGdTOTtdoAdlU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBtemN3d2pxaXh1eGV3dmlsY3NvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjM1MDE1NCwiZXhwIjoyMDc3OTI2MTU0fQ.BDwVRZ4mOta42S7FBl5c779bZZiox3j07YvACNy-__8
